.item {
  /* width: 20%;
    float: left; */
  /* width: 20%; */
  /* float: left; */
  transition: transform 0.6s;
  margin: 10px;
  color: white;
  cursor: pointer;
  position: relative;
}
.item img {
  transition: transform 0.6s;
  width: 100%;
  opacity: 0.8;
}

.item img:hover {
  opacity: 1;
}
.item h1 {
  font-size: 20px !important;
  margin: 5px 0;
}
.item p {
  margin: 5px 0;

  font-size: 10px;
}
.content {
  position: absolute;
  transition: transform 0.6s;
  top: 0;
  opacity: 0;
  top: 20px;
  margin-left: 5%;
    width: 90%;
}
.content h1{
  text-align: left;
}
.item:hover .content {
  transition: transform 0.6s;
  opacity: 1;
}
.favorite{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(0deg, black, #00000033);
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  z-index: 2;
  font-size: 12px;
  opacity: 0;

}
.item:hover .favorite {
  transition: transform 0.6s;
  opacity: 1;
}
@media only screen and (max-width: 1000px) {
  .item h1 {
    font-size: 20px !important;
    margin: 5px 0;
  }
}
